#tugas sesi 5

Nama      : sholu nabila salam

Nik       : 20230040132

kelas     : ti23e

1. Buatlah biodata sederhana dengan menggunakan fungsi input(), dan output variabel dengan fungsi format().

In [ ]:
# Input data dari pengguna

nama = input("Masukkan nama Anda: ")
nim = input("Masukan NIM Anda :")
kelas = input("Masukan kelas anda :")
status = input("masukan status anda :")
umur = input("Masukkan umur Anda: ")
alamat = input("Masukkan alamat Anda: ")


# Output biodata menggunakan fungsi format()
print("=====================================================")
print("Biodata:")
print("=====================================================")
print("Nama: {}".format(nama))
print("Nim : {}".format(nim))
print("Kelas : {}".format(kelas))
print("status : {}".format(status))
print("Umur: {}".format(umur))
print("Alamat: {}".format(alamat))

Masukkan nama Anda: sholu nabila salam
Masukan NIM Anda :20230040132
Masukan kelas anda :ti23e
masukan status anda :mahasiswa
Masukkan umur Anda: 19 tahun
Masukkan alamat Anda: parakan salak
=====================================================
Biodata:
=====================================================
Nama: sholu nabila salam
Nim : 20230040132
Kelas : ti23e
status : mahasiswa
Umur: 19 tahun
Alamat: parakan salak

#### 2. Jika terdapat kalimat UNIVERSITAS NUSA PUTRA SUKABUMI, buatlah kode program untuk menampilkan output:

<ul>
    <li>a. putra nusa</li>
    <li>b. NIVERSITAS NSA PTRA SKABMI</li>
    <li>c. SUKABUMI PUTRA NUSA UNIVERSITAS</li>
    <li>d. UNPS</li>
    <li>e. TAS SAPU BUMI</li>
</ul>

In [ ]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"

a = kalimat[16:22].lower() + kalimat[11:16].lower()
b = kalimat[1:11] + kalimat[11:13] + kalimat[14:17] + kalimat[17] + kalimat[19:23] + kalimat[23] + kalimat[25:28] + kalimat[29:31]
c = kalimat[23:31] + kalimat[16:22] + kalimat[11:17] + kalimat[0:12]
d = kalimat[0] + kalimat[12] + kalimat[17] + kalimat[23]
e = kalimat[8:12] + kalimat[14:16] + kalimat[17:19]+ kalimat[16:17] + kalimat[27:31]

print(a)
print(b)
print(c)
print(d)
print(e)

 putra nusa
NIVERSITAS NSA PTRA SKABMI
SUKABUMI PUTRA NUSA UNIVERSITAS
UNPS
TAS SAPU BUMI